{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Fernando Espíndola - Blog{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="https://plus.google.com/112555456709429126221">

  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'blog/blog.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}

  <!--[if lt IE 9]>
    <script src="http://getbootstrap.com/assets/js/html5shiv.js"></script>
    <script src="http://getbootstrap.com/assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

{% include 'base/_header.html' %}

<div class="container">

{% block content %}{% endblock %}

{% include 'base/_footer.html' %}

</div><!--/.container-->

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>